.section-heading {
    color: #008040;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.link {
    color: #008040;
    font-size: 20px;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
